<div class="goBack" (click)="back()">
  <p routerLink="/characters">
    <img
      class="goBack__arrow"
      src="../../assets/img/leftArrow.png"
      alt="leftArrow"
    />
    {{ "char-detail.back" | translate }}
  </p>
</div>
<div class="c-got-header">
  <div class="c-got-header__nav">
    <img
      routerLink="/"
      class="c-got-header__home"
      src="assets/img/home.png"
      alt="homeButton"
    />
    <img
      (click)="changeLanguageToSpanish()"
      [translate]="'charDetail.spanish'"
      class="c-got-header__language"
      src="assets/img/spain.png"
      alt="spanish"
    />
    <img
      (click)="changeLanguageToEnglish()"
      [translate]="'char-detail.english'"
      class="c-got-header__language"
      src="assets/img/uk.png"
      alt="english"
    />
  </div>
</div>

<div id="spinnerBox" class="got-spinner">
  <div class="got-spinner__spinner">
    <p-progressSpinner
      [style]="{ width: '100px', height: '100px' }"
      strokeWidth="5"
      fill="#000000"
      animationDuration="1s"
    ></p-progressSpinner>
  </div>
  <div class="got-spinner__text">
    <p class="got-spinner__text">{{ "char-detail.loading" | translate }}</p>
  </div>
</div>

<div id="charBox" class="c-got-char-detail">
  <div class="c-got-char-detail__picture">
    <img
      class="c-got-char-detail__picture__img"
      src="{{ singleChar.image }}"
      alt="{{ singleChar.name }}"
    />
    <p class="c-got-char-detail__picture__text">{{ singleChar.name }}</p>
  </div>

  <div class="row c-got-char-detail__details">
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.house" | translate }}
      </p>
      <img
        class="c-got-char-detail__house"
        src="{{ house.logoURL }}"
        alt="{{ singleChar.house }}"
      />
    </div>
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.allegiance" | translate }}
      </p>
      <p-scrollPanel
        [style]="{ width: '100%', height: '200px', margin: 'auto' }"
      >
        <p
          class="c-got-char-detail__details__content"
          *ngFor="let allegiance of singleChar.allegiances"
        >
          {{ allegiance }}
        </p>
      </p-scrollPanel>
    </div>
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.appearances" | translate }}
      </p>
      <p-scrollPanel
        [style]="{ width: '100%', height: '200px', margin: 'auto' }"
      >
        <p
          class="c-got-char-detail__details__content"
          *ngFor="let appearance of singleChar.appearances"
        >
          {{ appearance }}
        </p>
      </p-scrollPanel>
    </div>
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.father" | translate }}
      </p>
      <p class="c-got-char-detail__details__content">
        {{ singleChar.father }}
      </p>
    </div>
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.siblings" | translate }}
      </p>
      <p-scrollPanel
        [style]="{ width: '100%', height: '200px', margin: 'auto' }"
      >
        <p
          class="c-got-char-detail__details__content"
          *ngFor="let sibling of singleChar.siblings"
        >
          {{ sibling }}
        </p>
      </p-scrollPanel>
    </div>
    <div class="col-2">
      <p class="c-got-char-detail__details__title">
        {{ "char-detail.titles" | translate }}
      </p>
      <p-scrollPanel
        [style]="{ width: '100%', height: '200px', margin: 'auto' }"
      >
        <p
          class="c-got-char-detail__details__content"
          *ngFor="let title of singleChar.titles"
        >
          {{ title }}
        </p>
      </p-scrollPanel>
    </div>
  </div>
</div>
