.goBack {
  position: absolute;
  left: 150px;
  top: 25px;
  cursor: pointer;

  &__arrow {
    filter: contrast(0%) sepia(1) hue-rotate(0deg) saturate(0%);
    width: 35px;
    position: relative;
    top: 8px;
    right: 5px;
  }
}

.c-got-char-detail {
  text-align: center;
  height: 200px;

  &__house {
    width: 150px;
  }

  &__picture {
    margin-top: 120px;
    &__img {
      width: 250px;
    }
    &__text {
      font-size: 24px;
      margin: 15px 0 25px;
    }
  }

  &__details {
    margin: 0 30px;
    
    &__title {
      font-size: 20px;
      margin: 25px 0;
    }
    &__content {
      font-family: Georgia, serif;
      line-height: 3;
      font-size: 12px;
    }
  }
}
