<div class="c-got-home">
  <div class="c-got-home__languages">
    <img class="c-got-home__language" src="assets/img/spain.png" alt="">
    <img class="c-got-home__language" src="assets/img/uk.png" alt="">
  </div>
  <p class="c-got-home__title">Game Of Thrones</p>
  <div class="row">
    <div class="col-4">
      <p class="c-got-home__option">
        <a routerLink="/characters">PERSONAJES</a>
      </p>
    </div>
    <div class="col-4">
      <p class="c-got-home__option" >
        <a routerLink="/houses">CASAS</a>
      </p>
    </div>
    <div class="col-4">
      <p class="c-got-home__option" >
        <a routerLink="/">CRONOLOGIA</a>
      </p>
    </div>
  </div>
</div>
