.got-order-chronology {
  position: absolute;
  left: 220px;
  top: 25px;
}


.c-got-chronology {
  margin: 120px auto 44px;
  // width: 100%;
  // display: flex;
  // flex-direction: column;

  &__entry {
    width: 30%;
    background-color: black;
   
  }  

  &__header, &__content {
    background-color: black;
  }

  &__header {
    border-top: 3px;
    border-color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__text {
      margin: 10px 0 20px;
    }
    &__img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
    }
  }

}
