
<div class="c-got-header">
  <div class="c-got-header__searchBar">
    <img class="c-got-header__searchBar__icon" src="../../../assets/img/search.png" alt="">
    <input
      class="c-got-header__searchBar__searchText"
      (keyup)="searchChracters()"
      placeholder="Buscar"
      [(ngModel)]="searchChar"
      type="text"
      pInputText
    />
  </div>
  <div class="c-got-header__nav">
    <img
    routerLink="/"
    class="c-got-header__home"
    src="assets/img/home.png"
    alt="homeButton"
    />
    <img class="c-got-header__language" src="assets/img/spain.png" alt="spanish">
    <img class="c-got-header__language" src="assets/img/uk.png" alt="english">
  </div>
</div>

<div class="got-spinner">
  <div class="got-spinner__spinner">
    <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="5" fill="#000000" animationDuration="1s"></p-progressSpinner>
  </div>
  <div class="got-spinner__text">
    <p class="got-spinner__text">CARGANDO</p>
  </div>
</div>
<!-- 
<div class="c-got-characters">
  <p-scrollPanel [style]="{ width: '85%', height: '670px', margin: 'auto' }">
    <div class="row">
      <div class="col-2" *ngFor="let character of characters">
          <div class="c-got-characters__gallery">
            <div class="c-got-characters__item">
              <img
                routerLink="/characters/{{ character.name }}"
                class="c-got-characters__img"
                src="{{ character.image }}"
                alt="{{ character.name }}"
              />
              <p class="c-got-characters__img__name">{{ character.name }}</p>
            </div>
          </div>
      </div>
    </div>
  </p-scrollPanel>
</div> -->

<div class="row c-got-footer">
  <div class="col-4">
    <p class="c-got-footer__option">
      <a style="text-decoration: underline;" routerLink="/characters">PERSONAJES</a>
    </p>
  </div>
  <div class="col-4">
    <p class="c-got-footer__option" >
      <a routerLink="/houses">CASAS</a>
    </p>
  </div>
  <div class="col-4">
    <p class="c-got-footer__option" >
      <a routerLink="/chronology">CRONOLOGIA</a>
    </p>
  </div>
</div>