<div>
  <!-- AQUI VA EL NAVBAR -->
</div>

<div class="c-got-characters">
  <!-- <p-scrollPanel [style]="{width: '100%', height: '100px'}"> -->
    <div class="row">
      <div class="col-2" *ngFor="let character of characters">
        <p-card>
          <div class="c-got-characters__gallery">
            <div class="c-got-characters__item">
              <img (click)="getCharacterDetails({{character.name}})" class="c-got-characters__img" src="{{character.image}}" alt="{{character.name}}">
              <p class="c-got-characters__img__name">{{character.name}}</p>
            </div>
          </div>
        </p-card>
    </div>
  </div>
<!-- </p-scrollPanel> -->
</div>

<div class="row">
  <div class="col-4">
    <p class="c-got-home__option">
      <a routerLink="/characters">PERSONAJES</a>
    </p>
  </div>
  <div class="col-4">
    <p class="c-got-home__option" >
      <a routerLink="/houses">CASAS</a>
    </p>
  </div>
  <div class="col-4">
    <p class="c-got-home__option" >
      <a routerLink="/">CRONOLOGIA</a>
    </p>
  </div>
</div>