@import "~bootstrap/scss/bootstrap-grid";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";

@font-face {
  font-family: got;
  src: url(assets/fonts/GameOfThrones.ttf);
}
* {
  font-family: got;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  overflow-x: hidden;
  background-color: #000000;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.c-got-header {

  &__nav {
    position: absolute;
    right: 200px;
  }

  &__home {
    filter: contrast(0%) sepia(1) hue-rotate(0deg) saturate(0%);
    cursor: pointer;
    margin: 10px;
    width: 45px;
    height: auto;
  }

  &__language {
    margin: 10px;
    width: 45px;
    height: auto;
  } 
}

.c-got-footer {

  text-align: center;

  &__option {
    font-size: 25px;
    // margin-top: 25px;
  }

}